<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4c18f48a30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="donation.css">
    

</head>
<body>
   
   <a class="medkit" href="/"><i class="fa-solid fa-house-chimney fa-2xl"></i></a>
    <div class="donor">
        
        <form action="/donor" method="POST">
           <span class="name">Name</span><br>
            <input type="text" class="name" name="name"><br>
            <span class="age">Age</span><br>
            <input type="text" class="age" name="age"><br>
            <span class="bgroup">Blood Group</span><br>
            <input type="text" class="bgroup" placeholder="Eg.A+ve" name="blood"><br>
            <span class="gender">Gender</span>
            <span class="male">Male</span>
            <input type="checkbox" name="gender" value="male" class="male">
            <span class="female" >Female</span>
            <input type="checkbox" name="gender" value="female" class="female">
            <span class="others">Others</span>
            <input type="checkbox" name="gender" value="other" class="others"><br>
            <span class="contNo">Contact Number</span><br>
            <input type="text" class="contNo" name="contact"><br>
            <span class="address">Address</span><br>
            <input type="text" name="address" class="address"><br>
            <span class="query">Do you fulfill all the criterias listed below?</span>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Blood_donation_in_India#Criteria_to_donate_blood">Click here to check criteria for donation</a>
            <span class="yes">Yes</span>
            <input type="checkbox" name="yes" class="yes">
            <span class="no">No</span>
            <input type="checkbox" name="no" class="no" value="off">
            <button type="submit" class="btn btn-outline-secondary btn-lg btn-bd-primary">Submit</button>
        </form>
    </div>
    <i class="fa-solid fa-droplet fa-2xl red"></i>
    <p>Fill the form if you are willing to donate in future.<br>Note that you will be once again examined at the hospital before donating blood to confirm your eligibility</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
    