#map{
    height:100%;
}
html,body{
    height:100%;
    margin: 0;
    padding: 0;
}
#floating-panel{
    width:250px;
    height: 100px;
    position:absolute;
    top:10px;
    left:25%;
    z-index: 5;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto";
    line-height: 30px;
    padding-left: 10px;
    background-color: white;
}